<!--
  Generated template for the AssistantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hi, I'm Luna</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<div>
		<p> OKOKOK </p>
	</div>
	<div *ngIf="displaySection == 0">
		<p> How may I help you? </p>
		<ion-select #C (ionChange)="getUserChoice(C.value)">
			<ion-option value="0" >Plan an event</ion-option>
			<ion-option value="1">Look for event</ion-option>>
		</ion-select>
	</div>
	<div *ngIf="displaySection == 1">
		<p> Reflect </p>
		<ion-select #C (ionChange)="getUserChoice(C.value)">
			<ion-option value="0" >Never look back</ion-option>
			<ion-option value="1">Tracking</ion-option>>
		</ion-select>
	</div>
	<div *ngIf="displaySection == 2">
		<p> Direction </p>
		<ion-select #C (ionChange)="getUserChoice(C.value)">
			<ion-option value="0" >Guess who</ion-option>
			<ion-option value="1">No</ion-option>>
		</ion-select>
	</div>
</ion-content>